@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode colors */
  --foreground-rgb: 28, 25, 23;
  --background-start: 250, 250, 249;
  --primary-bg: 255, 255, 255;
  --secondary-bg: 245, 245, 244;
  --hover-bg: 231, 229, 228;
  --border-color: 214, 211, 209;
  --text-primary: 28, 25, 23;
  --text-secondary: 87, 83, 78;
}

.dark {
  /* Dark mode colors */
  --foreground-rgb: 250, 250, 249;
  --background-start: 28, 25, 23;
  --primary-bg: 12, 10, 9;
  --secondary-bg: 28, 25, 23;
  --hover-bg: 41, 37, 36;
  --border-color: 63, 63, 70;
  --text-primary: 250, 250, 249;
  --text-secondary: 163, 163, 163;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
